doctype html
html
  head
    title America Covid-19 Information
    link(rel='stylesheet', href='/css/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css")
    script(src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js")
    script(src= "https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js")
    script(src="/javascripts/summary.js")
  body
    block content
